:root {
    --color-gradient-1: rgb(85, 160, 230);
    --color-gradient-2: rgb(55, 46, 157);
    --color-textbox: rgb(216, 221, 224);
}


/* CSS Reset */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

/* Broad Element Types */

p {
    font-size: 1rem;
}

/* General Rules*/

body {
    width: 100vw;
    overflow: auto;
}

img {
    border: solid 10px transparent;
    border-image: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2)) 1;
}

/* Nav Bar */

nav {
    width: 100%;
    /* Testing Color Remove Later*/
    /*background-color: rgb(84, 86, 86);*/
}

#navbar {
    width: 100%;

    /* Contains Elements Inside from left to right */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Colors and Borders */
    background-image: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2));
    border-bottom: solid rgb(14, 52, 87) 2px;
}

#navbar .nameheader h1 {
    width: 40%;

    margin-left: 30px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    -webkit-text-stroke: white 2px;
    white-space: nowrap;
}

#undernav p {
    
    margin-left: 30px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;

    color:grey
}

#navbar ul {
    width: 40%;

    margin: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    list-style: none;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    white-space: nowrap;
}

#navbar ul li:hover, #navbar ul li:focus {
    text-decoration: underline;
    color:white;
}

/* Main */

main {
    width: 80%;
    height: 100vh;

    margin: 5vw auto;

    overflow: auto;
}

/* Bio */

.bio {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

.textbox {

    padding: 30px;

    background-color: var(--color-textbox);
    
}