/* CSS Reset */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

/* Variables */

/* General Rules*/

body {
    width: 100vw;
}

/* Nav Bar */

nav {
    width: 100%;
    height: 6vw;

    /*background-color: aquamarine;*/
    
}

.navbar {
    /* The navbar doesnt cover the entire nav element */
    width: 100%;
    height: 4cqw;

    /* Allows for the name and links to be displayed one after another */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Cool gradienty for the bar*/
    background-image: linear-gradient(to right, rgb(52, 155, 245), rgb(54, 27, 113));
}

.navbar .logo {
    white-space: nowrap;
    overflow: hidden;

    /* Font Settings */
    font-size: 4cqw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    -webkit-text-stroke: .1px white;

    /* Font Position */
    margin-left: 2%;
    margin-bottom: -2%;
}

.navbuttons ul {
    display: flex;
    gap: 5vw;
    margin-right: 10vw;
    margin-left: 10vw;
    margin-top: 3vw;

    list-style: none;
}

.navbuttons li {
    border: black solid 2px;
    border-radius: 20px;
    background-color: white;
    padding: 2vw;
}