:root {
    --color-gradient-1: rgb(85, 160, 230);
    --color-gradient-2: rgb(55, 46, 157);
    --color-background: rgb(227, 235, 241);
}


/* CSS Reset */
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

/* Broad Element Types */

html {
    background-color: var(--color-background);
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 4rem;
}

p {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(59, 59, 59);
}

li {
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* General Rules*/

body {
    overflow: auto;
}

img {
    border: solid 5px transparent;
    border-image: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2)) 1;
}

/* Nav Bar */

nav {
    width: 100%;
    /* Testing Color Remove Later*/
    /*background-color: rgb(84, 86, 86);*/
}

#navbar {
    width: 100%;

    /* Contains Elements Inside from left to right */
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* Colors and Borders */
    background-image: linear-gradient(to right, var(--color-gradient-1), var(--color-gradient-2));
    border-bottom: solid rgb(14, 52, 87) 2px;
}

#navbar .nameheader h1 {
    width: 40%;

    margin-left: 30px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    -webkit-text-stroke: white 2px;
    white-space: nowrap;
}

#undernav p {
    
    margin-left: 30px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    font-weight: bold;

    color:grey
}

#navbar ul {
    width: 40%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;

    list-style: none;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3rem;
    white-space: nowrap;
}

#navbar ul li:hover, #navbar ul li:focus {
    text-decoration: underline;
    color:white;
}

#navbar ul li:active {
    color:black;
}

/* Main */

main {
    width: 80%;

    margin: 2rem auto;
}

/* Bio */

.bio {
    width: 100%;
    min-height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    margin: auto, auto;
}

#contacts {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 3rem;
    
}

#contacts li {
    font-size: 3rem;

    background-color: aqua;

    padding: 1rem;
}

.textbox h2 {
    color: var(--color-gradient-2);
}

.textbox {

    border-left: 5px solid black;

    padding: 3rem;
    background-color: var(--color-textbox);
    
}